#downIcon {
	margin: 0;
}

.biography-section {
	width: 40%;
	height: 75vh;
}

.biography-content {
	display: flex;

	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
}

.biography-image {
	width: 50%;	

	border-radius: 50%;
	border: 8px solid white;

	margin-left: 25%;
}

.biography-text {
	width: 90%;
	background-color: rgba(128, 64, 128, 0.2);
	font-size: 1.5rem;
	text-align: justify;

	border-radius: 10px;

	margin-right: 5%;
	padding: 20px;
}

.biography-name {
	font-size: 3.0rem;
	font-weight: bold;
}

#meshTerrain {
	width: 100%;
	height: 100vh;

	background: linear-gradient(180deg, black, #1B0054);;
}

#biography {
	position: absolute;
	display: flex;
	
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;

	width: 100%;

	color: white;

	padding-top: 8vh;
	padding-bottom: 16vh;
}

#biographyPicture {	
	order: 1;
	margin-right: 2%;
}

#biographyInfo {
	order: 2;
}

#biographyDownButton {
	height: auto;
	order: 3;
}

@media only screen and (max-width: 1000px) {
	.biography-section {
		width: 80%;
		height: auto;

		padding-top: 25px;
		padding-bottom: 25px;
	}

	.biography-image {
		margin-left: 0;
	}
	
	.biography-text {
		font-size: 1.2rem;

		margin-right: 0;
	}

	#biography {
		padding-top: 4vh;
		padding-bottom: 8vh;
	}

	#biographyPicture {	
		margin-right: 0;
	}
}

@media only screen and (max-width: 600px) {
	.biography-name {
		font-size: 2.0rem;
	}

	#biographyDownButton {
		display: none;
	}
}