html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lato", sans-serif;
}

.centered-text {
	text-align: center;
}

.container.main {
	background-color: #442244;
	margin-top: 0;
}

#navbar {
	border-radius: 0;
	margin-bottom: 0;
}