html, body {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Lato", sans-serif;
	background-color: white;
}

hr {
	border-color: white;
}

canvas {
	height: inherit;
}

footer {
	background-color: white;
	padding: 16px;
}

footer a {
	color: lightskyblue;
	font-size: 1.2rem;

	transition: 500ms;
}

footer a:hover {
	color: #160036;
	text-decoration: underline;
}

footer p {
	margin-bottom: 0;
}

footer p small {
	font-size: 0.9rem;
}

.centered-text {
	text-align: center;
}

.container.main {
	background-color: #1B0054;
	margin-top: 0;
}

.ui.button {
	transition: 500ms;
}

.interpunct {
	margin: 0 10px;
}

.subpage-header {
	color: white;
	font-size: 3rem;
	text-align: center;
}

#navbar {
	background-color: #160036;
	
	border-radius: 0;
	margin-bottom: 0;
}

@media only screen and (max-width: 800px) {
	canvas {
		display: none;
	}
}