<footer>
	<a href="/">Home</a><span class="interpunct">&middot;</span><a href="/portfolio">Portfolio</a><span class="interpunct">&middot;</span><a href="/resume">R&eacute;sum&eacute;</a>
	<p><small>Created by Matthew Schafer &copy; <%= new Date().getFullYear() %>.</small></p>
	<p><small>Powered by Node.js and Express.js. Hosted by Heroku. Additional credits to Mr Doob and Altered Qualia for some WebGL shaders/utilities used on the homepage.</small></p>
	<p><small>This site is not affiliated with any of the technologies listed in the skillset section. All technology logos are trademarks of their respective organisation/committee.</small></p>
</footer>