<div id="navbar" class="ui inverted menu">
	<div class="header item"><a href="/"><i class="terminal icon"></i> Matt Schafer</a></div>

	<a class="item" href="/portfolio">Portfolio</a>
	<a class="item" href="/resume">Resume</a>
</div>